# {{ ansible_managed }}

[Unit]
Description=BadEconomics RI Bot

[Service]
User={{ reddit_econ_user }}
WorkingDirectory={{ reddit_econ_rinotify_dir }}
ExecStart={{ reddit_econ_rinotify_venv }}/bin/python3 ri_notify.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
